.menu {
  position: sticky;
  background: #1d1d1d;
  top: 0;
  z-index: 98;
  padding: 15px;
  .buttons {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;

    .active {
      background: #ffffff;
      color: rgb(0, 0, 0);
    }

    button {
      width: max-content;
      padding: 5px 10px;
      background: rgb(47, 47, 47);
      border-radius: 10px;
      border: none;
      font-size: 15px;
      color: white;
      cursor: pointer;
    }

    .podcast {
      display: flex;
    }

    .artists {
      display: flex;
    }

    .playlist {
      display: flex;
    }

    .dropdown {
      position: relative;
      display: none;
    }

    .toggleButton {
      background-color: #252625;
      color: white;
      padding: 5px 8px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
    }

    .menuu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 100%;
      border-radius: 4px;
      padding: 0;
      list-style-type: none;
      color: #252625;
    }

    .menuItemPodcast {
      // display: flex;
      color: #252625;
      padding: 5px 8px;
      cursor: pointer;
      border-bottom: 1px solid #3f3e3e;
    }

    .menuItemProfile {
      color: #252625;
      padding: 5px 8px;
      cursor: pointer;
      border-bottom: 1px solid #3f3e3e;
    }

    .menuItemArtists {
      display: none;
      color: #252625;
      padding: 5px 8px;
      cursor: pointer;
      border-bottom: 1px solid #3f3e3e;
    }

    .menuItemPlaylist {
      display: none;
      color: #252625;
      padding: 5px 8px;
      cursor: pointer;
      border-bottom: 1px solid #3f3e3e;
    }
    .menuItem:hover {
      background-color: #f1f1f1;
    }

    .menuItem:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 1120px) {
  .menu {
    .buttons {
      .podcast {
        display: none;
      }
      .profile {
        display: none;
      }
      .dropdown {
        display: inline-block;

        .menuu {
          .menuItemPodcast {
            display: flex;
          }
          .menuItemProfile {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .menu {
    .buttons {
      .artists {
        display: none;
      }

      .dropdown {
        .menuu {
          .menuItemArtists {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .menu {
    .buttons {
      .playlist {
        display: none;
      }

      .dropdown {
        .menuu {
          .menuItemPlaylist {
            display: flex;
          }
        }
      }
    }
  }
}
